# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
*.env/

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
*.egg
*.egg-info/
dist/
build/
